# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor configs / Local managers
.mise/
.python-version

# Log Files
*.log

# Data Extraction Results & Temp Progress
tarik-data/result.xlsx
tarik-data/result_temp.json
tarik-data/temp_records/

# Local credentials & tokens
approve/credentials.json
credentials.json
*.secret.json


